/* Reset default styles and apply box sizing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets background color for entire page */
body {
    background-color: #d9dcd6;
}

/* Styling for header section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styling for main heading in the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Styling for the .seo class within the header */
header h1 .seo {
    color: #d9dcd6;
}

/* Styling for the elements within the header's right side */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Styling for an unordered list within the header */
header div ul {
    list-style-type: none;
}

/* Styling for list items with header's unordered list  */
header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Styling for hyperlinks throughout the page */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Styling for paragraphs throughout the page */
p {
    font-size: 16px;
}

/* Sets background color for entire page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets background color for entire page */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Styling elements ffloating to the left */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Styling for the main content section */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Styling for aside section */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Refactoring mutiple class attributes into one CSS rule with same styling to increase efficiency and readability */
.benefit-lead , .benefit-brand , .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Styling for subheadings */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styling for images within the aside section */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Refactoring mutiple class attributes into one CSS rule with same styling to increase efficiency and readability */
.search-engine-optimization , .online-reputation-management , .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Styling for images within thr main content section */
section img {
    max-height: 200px;
}

/* Styling for subheadings within main content section */
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styler for footer section */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Styling for subheadings within footer */
footer h2 {
    font-size: 20px;
}
